.kertaskampus-header {
    background-color: #FFF;
    height: 100vh;
    width: 100%;
    min-height: 350px;
}

.kertaskampus-logo-wrapper {
    text-align: center;
    padding-top: 100px;

    img {
        width: 128px;
        height: 128px;
    }
}

.heading {
    color: #616E7C;
}
.sub-heading {
    color: #8B98A7;
}

.kertaskampus-cta-wrapper {
    text-align: center;
    margin-top: 40px;

    h1 {
        letter-spacing: 0.4px;
        font-size: 30px;
        line-height: 1.2em;
    }
}

.kertaskampus-btn-line {
    color: rgba(0, 0, 255, 0.6);
    border-radius: 3px;
    transition: background-color .5s ease;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid;

    &:hover {
        color: #FFF;
        background: rgba(0, 0, 255, 0.6);
        border-radius: 3px;
        border: 2px solid rgba(0, 0, 255, 0.6);
    }
}

a.kertaskampus-btn-cta {
    padding: 20px 30px;

}

.kertaskampus-btn-login-wrapper {
    margin: 30px;
}

a.kertaskampus-btn-login {
    padding: 10px 20px;
}