.dokuday-body {
    background-color: #f2f2f2;
}

.dokuday-navbar {
    height: 62px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
    box-shadow: 0 0 2px rgba(6, 8, 8, 0.15);
}

.dokuday-container-fluid {

}
.navbar-brand.dokuday-brand {
    padding-top: 20px;
    font-weight: bold;
    color: #E85B40;
    letter-spacing: -0.5px;

    &:hover {
        color: #E85B40;
    }
}
.navbar-nav.dokuday-navbar-nav {
    li {
        a {
            color: #3A3A3A;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.4px;
            padding-top: 21px;
            padding-bottom: 20px;
            padding-right: 25.5px;
            padding-left: 25.5px;

            &:hover {
                background-color: #F9F9F9;
            }
        }
    }
}
